<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/lib/socket.io/node_modules/socket.io-client/dist/socket.io.js' type='text/javascript'></script>
    <script type="text/javascript">
    var socket= io.connect();
    </script>
  </head>
  <body>
    <h1>Express Js</h1>

  </body>
</html>
